<% provide(:title, '画像編集') %>
<h2><%= yield(:title) %></h2>

<p>素材画像の情報を編集します。</p>

<%= render partial: 'form',
           locals: { form_for_url: image_path(@image), image: @image, submit_label: '更新する', is_new: false } %>
