<% provide(:title, '画像一覧') %>
<h2><%= yield(:title)%></h2>
<p>
  現在登録されている画像の一覧です。
</p>
<% @images.each do |image| %>
    <div class="panel panel-primary">
      <div class="panel-body">
        <div align="center">
          <%= image_tag(image.path_url) if image.path_url.present? %>
        </div>
        <div align="center">
          いいねの数: <%= image.fav_count %>
        </div>
      </div>
      <div class="panel-footer">
        <%= link_to "編集", edit_image_path(image[:id]), class: 'form-control btn btn-success' %>
      </div>
    </div>
<% end %>
